.hexagon{
width: 87px;
    height: 49px;
   background-color: #333;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon::after,
.hexagon::before{
content: "";
    width: 87px;
    height: 51px;
   background-color: #333;
    position: absolute;
}
.hexagon::after{
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
}
.hexagon::before{
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
}
